@font-face {
  font-display: swap;
  font-family: 'Helios';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/HeliosRegular.ttf') format('ttf');
}

@font-face {
  font-display: swap;
  font-family: 'Helios';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/HeliosBold.ttf') format('ttf');
}
