$black: #000;
$white: #fff;
$gray: #E0E0E0;
$grayBg: #F7F7F7;

$mainBlue: #003264;
$orange: #E9862A;
$blue: #187CD3;
$dark: #242627;
// font
$fontTitle: 36px;
$font: 16px;
$fontMedium: 18px;
$fontSmall: 14px;
$fontExtraSmall: 12px;

//fontWeight

$fwBold: 700;
$fwMedium: 500;
$fwDefault: 400;


